@media only screen and (min-width: 640px) {
    body#cv {
        margin-left: 10pt;
        margin-right: 10pt;
    }
    body#cv > h1, h2, h3, h3, h4, h5, h6 {
        padding-top: 2em;
    }

    div#main_block {
        width: 100%;
    }

    div#russian {
        width: 40%;
        float: left;
        display: inline-block;
        margin: 1em;
    }

    div#english {
        width: 40%;
        display: inline-block;
        margin: 1em;
    }
}

@media only screen and (min-width: 1024px) {
    body#cv {
        margin-left: 50pt;
        margin-right: 50pt;
    }
}
